:root {
--acсent-color: #2196F3;
--primary-white-color: #ffffff;

--dark-text-color: #212121;
--black-text-color: #000000;
--grey-text-color: #757575;
--transparent-text-color: rgba(255, 255, 255, 0.6);

--dark-background-color: #2F303A;
--grey-background-color: #F5F4FA;

--main-font:'Roboto', sans-serif;
--logo-font: 'Raleway', sans-serif;
}


/* FOR ALL SITE */
body {
    background-color: var(--primary-white-color);
    color: var(--grey-text-color);
    font-size: 14px;
    font-family: var(--main-font);
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hiden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

/* logo */
.logo {
    text-decoration: none;
    font-family: var(--logo-font);
    color: var(--acсent-color);
    font-size: 26px;
    line-height: 1.19;
}

.studio-black {
    color: var(--black-text-color);
}

.studio-white {
    color: var(--primary-white-color);
}

/* menu */
.menu {
    color: var(--dark-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: var(--acсent-color);
}

.contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.link:active {
    color: var(--acсent-color);
}


/* STUDIO */

/* hero */
.hero{
    background-color: var(--dark-background-color);
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
}

.btn {
    cursor: pointer;
    font-family: inherit;
}

.hero-btn{
    background-color: var(--acсent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
}


/* about-us */
.section-title {
    color: var(--dark-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.about-title {
    color: var(--dark-text-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

.about-text {
    line-height: 1.71;
}

/* what we do */

/* our team */
.team {
    background-color: var(--grey-background-color);
}

.team-item {
    background-color: var(--primary-white-color);
}

.team-item-title {
    color: var(--dark-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.1875;
}


/* PORTFOLIO */

.portfolio-btn {
    background-color: var(--grey-background-color);
    color: var(--dark-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
}

.btn-list .portfolio-btn.active {
    background-color: var(--acсent-color);
    color: var(--primary-white-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn:active {
    background-color: var(--acсent-color);
    color: var(--primary-white-color);
}

.portfolio-title {
    color: var(--dark-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.875;
}


/* FOOTER */
.footer {
    background-color: var(--dark-background-color);
}

.address {
    font-style: normal;
    line-height: 1.71;
}

.physical-adds {
    color: var(--primary-white-color);
    text-decoration: none;
}

.contact-adds {
    color: rgba(255, 255, 255, 0.6);
}